<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.atguigu.goodcode.mapper.GoodCodeMapper">
    <select id="selectByCid" resultType="java.util.HashMap">
            select CId,Cname from course
    </select>
</mapper>
